doctype html
html(lang="ko")
	head
		title #{pageTitle} |
		link(rel="stylesheet" href="https://unpkg.com/mvp.css")
	body
		header
				h1=pageTitle
				
		main
			form(method="POST", enctype="multipart/form-data")
				label(for="txt") Text File
				input(type="file", accept=".txt", required, id="txt", name="txt")
				input(type="submit", value="Upload file")