@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");
@import "_variables";
@import "_elements";

* {
  box-sizing: border-box;
}

body {
  font-family: "DM Serif Display", monospace;
}

header {
  background-color: black;
  nav {
    ul {
		padding: 0;
	  border-top: 3px solid black;
	  border-bottom: 3px solid black;
      display: grid;
      gap: 1px;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(1, 60px);
      li {
		border-left: 3px solid black;
        background-color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
		padding-left: 10px;
		&:first-child {
        border-left: 0px solid black;
    	}
		
      }
		.triangle{
			margin-left: 150px;
			margin-right: 5px;
		}	
		
    }
  }
}



.arrivals {
 
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-row: repeat(3, 3fr);
    background-color: black;
    gap: 1px;
    
    .product {
	  background-color: white;
      padding: 40px;
      display: grid;
      gap: 20px;
	  position: relative;
      grid-template-rows: 30% auto;
		.upper_left {
          margin: 10px;
		  position: absolute;	  
        }
		.upper_right {
          margin: 10px;
		  position: absolute;
  		  right: 0;
		  
        }
		  .bottom_left{
			  position: absolute;
			  bottom: 0px;
			  margin: 10px;
		  }
		  .bottom_right{
			  position: absolute;
			  bottom: 0px;
			  right: 0;
			  margin: 10px;
			  text-decoration: underline;
		  }
      .product__photo {
		  background-position: center center;
		   background-size:cover;
  		background-position:center;
		  height: 30vh;
		 background-image:url("https://images.unsplash.com/photo-1486548730767-5c679e8eda6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
      }
      .product__data {
		  
        
      }
    }
  }
}


