@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");
@import "_variables";
@import "_elements";

* {
  box-sizing: border-box;
}
main {
  display:grid;
  grid-template-columns: 6.3fr 0.2fr 3fr;
  height:100%;
  background-color:#ff7f00;
  border:5px solid #ff7f00;
  border-top:0;
	
	.left {
		padding: 10px;
		background-color: #ff7f00;
		display:grid;
		grid-template-columns: 0.2fr 7fr 2.8fr;
		grid-template-row: repeat(auto-fit, minmax(100px, 1fr));
		
		div {
		  display:flex;
		  justify-content:center;
		  align-items:center;
		  border: 2px solid red;
			color: red;
		  
		}
		div:first-child,
		div:nth-child(2),
		div:nth-child(5),
		div:nth-child(6),
		div:nth-child(9),
		div:nth-child(10),
		div:nth-child(13),
		div:nth-child(14),
		div:nth-child(17),
		div:nth-child(18),
		div:nth-child(21),
		div:nth-child(22),{
		  grid-row:span 2;
		  
		}
		div:first-child,
		div:nth-child(5),
		div:nth-child(9),
		div:nth-child(13),
		div:nth-child(17),
		div:nth-child(21),{
			writing-mode: vertical-rl;
			 transform: rotate(180deg);
  			text-align: right;
		}
		
		div:nth-child(5),
		div:nth-child(6),
		div:nth-child(7),
		div:nth-child(8){
			border-color: white;
			color: white;
		}
		div:nth-child(2),
		div:nth-child(6),
		div:nth-child(10),
		div:nth-child(14),
		div:nth-child(18),
		div:nth-child(22){
			padding-left: 10px;
			font-size: 10vh;
			 justify-content:flex-start;
		}
		div:nth-child(4),
		div:nth-child(8),
		div:nth-child(12),
		div:nth-child(16),
		div:nth-child(20),
		div:nth-child(24),{
			
		}
		.radius{
			
  			
			display:flex;
			width: 90%;
			height: 5vh;
			border-radius: 15%;
			background-color: red;
			justify-content:stretch;
		  	align-items:stretch;
			padding: 15px;
			color: #ff7f00;
			
		}
		.radius:nth-child(2){
			background-color: white;
		}
	}
	.center{
		display:grid;
		
		grid-template-row: repeat(2, 1fr);
		font-size: 20px;
		
		
		.top{
			padding-top: 10px;
			display:flex;
			justify-content:flex-start;
			align-items:center;
		  	text-align: center;
			writing-mode: vertical-rl;
			background-color: #FF00FF;
		}
		.bottom{
			padding-top: 10px;
			display:flex;
			align-items:center;
			background-color: #1900FF;
			writing-mode: vertical-rl;
			 transform: rotate(180deg);
  			text-align: right;
		}
	}
	
	.right{
		  font-family: 'Itim', cursive;
		  width: 100%;
		  height: 100vh;
		  margin:0 auto;
		  display:grid;
		  background-color:red;
		  grid-template-columns:repeat(2, 1fr);
		  grid-template-rows:repeat(7, 1fr);
		  
		.nav{
			padding: 10px;
			grid-column:1 / -1;
			height: 8vh;
			display: flex;
  			justify-content: space-between;
			align-items: center;
		}
		
		div{
			border-bottom: 3px solid black;
			border-width: 95%;
			height: 8vh;
			gap: 5px;
		}
		h1, h4{
			padding-left: 10px;
		}
		}
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
}







