@import url("https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap");
@import "_variables";
@import "_elements";


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.8fr 1fr 2fr;
  
}


.left {
  display: grid;
  grid-template-rows: 100px 0.5fr 1fr 1fr 1fr;
  word-break:break-all;
  border: 2px solid black;
	h4{
	padding: 10px;
	}
	h1{
	padding: 10px;
	font-size: 24px;
	}
	ul{
		list-style:none;
		padding-left:0px;
	}
	li{
		border-bottom: 1px solid black;
		
		padding: 10px;				
	}
	li:first-child{
		border-top: 1px solid black;
		background-color: #EEEEEE;
	}
	.third{
		padding-top: 100px;
	}
	.address{
			h1{
		padding: 10px;
				padding-left: 15px;
		font-size: 15px;
			font-weight: bold;
		}
		h4{
			padding:5px;
			padding-left: 15px;
		}
	}
	
}
.center__left{
	border-top: 2px solid black;
	border-bottom: 2px solid black;
  display: grid;
  grid-template-rows: 100px 0.3fr 100px 100px 1fr ;
  word-break:break-all;
	h4{
		padding: 10px;
	}
	ul{
		list-style:none;
		padding-left:0px;
	}
	li{
		font-size: 24px;
		padding: 10px;
		
	}
	span{
		padding: 20px;
		white-space: normal;
	}
	.box{
		border-top: 2px solid black;
		margin-top: 300px;
		h4{
			padding: 15px;
		}
	}
	
}

.center__right{
	 overflow:hidden;
	border: 2px solid black;
	display: grid;
	height: 100%;
  	grid-template-rows: 2fr 1fr;
	.top{
		width: 100%;
	  height: 100vh;
	  margin:0 auto;
	  display:grid;
	  grid-template-columns:repeat(2, 1fr);
	  grid-template-rows:repeat(2, 1fr);
	}
	.top__left,
	.top__right,
	.bottom__right{
		background-size:cover;
  		background-position:center;
	}
	.top__left{
		border-right: 2px solid black;
		background-size:stretch;
  		grid-row:span 2;
		background-image:url("https://images.unsplash.com/photo-1486548730767-5c679e8eda6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
	}
	.top__right{
		border-bottom: 2px solid black;
		background-image:url("https://images.unsplash.com/photo-1484980972926-edee96e0960d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
	}
	.bottom__right{
		background-size:cover;
  		background-position:center;
		display: grid;
		margin:0 auto;
		width: 100%;
		height: 100%;
		grid-template:
		"one one one two" 1fr 
		"one one one three" 1fr 
		"four five five five" 1fr 
		"four five five five" 1fr / 1fr 1fr 1fr 1fr; 
		
	}
.one{
	border-right: 2px solid black;
			background-image:url("https://images.unsplash.com/photo-1486548730767-5c679e8eda6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
		grid-area: one;	
			
		}
	.two{
		border-bottom: 2px solid black;
			background-image:url("https://source.unsplash.com/random");
grid-area: two;	
		}
.three{
					background-image:url("https://images.unsplash.com/photo-1484980972926-edee96e0960d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");

			grid-area: three;	
		}
.four{
			border-top: 2px solid black;
	border-right: 2px solid black;
	border-top: 2px solid black;
			background-image:url("https://images.unsplash.com/photo-1486548730767-5c679e8eda6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
			grid-area: four;	
		}
.five{
	border-top: 2px solid black;
			background-image:url("https://source.unsplash.com/random");
			grid-area: five;	
		}
	
}

.bottom{
	border-top: 2px solid black;
	display:grid;
	grid-template-columns: 1fr 2fr;
		
}
.footer__left{
		display:grid;
		background-size:cover;
  		background-position:center;
		display: grid;
		width: 100%;
		height: 100%;
		grid-template:
		"left__image top__one" 1fr 
		"left__image bottom__one " 1fr / 1fr 1fr; 
}
.left__image{
	border-right: 2px solid black;
		background-image:url("https://source.unsplash.com/random");
			grid-area: left__image;	
}
.top__one{
	border-bottom: 2px solid black;
	background-image:url("https://images.unsplash.com/photo-1486548730767-5c679e8eda6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
	grid-area: top__one;	
}
.bottom__one{
	background-image:url("https://source.unsplash.com/random");
		grid-area: bottom__one;	
}

.footer__right{
	border-left: 2px solid black;
	background-image:url("https://images.unsplash.com/photo-1484980972926-edee96e0960d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
}