<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	  <link rel='stylesheet' href='/dist/css/styles.css' />
	  <link rel='stylesheet' href='/dist/css/reset.css' />
  </head>
  <body>
	 
		<div class="layer">
			
			<span class="content">الفصحى</span>
			<span class="content">CURRY</span>
			<span class="content">CAFE</span>
			
			
		</div>
	<div class="grid">
		
		<div class="header">
			ㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱ
		</div>
		<div class="leftTopContent" >
			<span>Location Menu</span> 
			
		</div>
		<div class="lImage">
			
		</div>
		<div class="rImage">
			
		</div>
		<div class="rightTopContent" >
			<span>가나다라 아차파망란얃자랑ㄴ</span>
		</div>
		<div class="leftBottomContent" >
			<img src="https://image.flaticon.com/icons/png/512/1384/1384031.png">
			<img src="https://image.flaticon.com/icons/png/512/123/123717.png">
		</div>
		<div class="rightBottomContent" >
			<span>가나</span>
		</div>
		<div class="icon">
			
		</div>
		<div class="footer">
			ㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱ
		</div>
		
	</div>
  </body>
</html>
