<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/dist/css/styles.css" />
        <link rel="stylesheet" href="/dist/css/reset.css" />
    </head>
    <body>
     	<main>
			<div class="left">
				<div>E-Commerce </div>
				<div> UNIF </div>
				<div> Design</div>
				<div><div class="radius">
					asd
					</div> </div>
				<div>White </div>
				<div>White clicquot </div>
				<div>white </div>
				<div><div class="radius">
					
					</div> </div>
				<div>Artist </div>
				<div>HAIM </div>
				<div>visual identify </div>
				<div><div class="radius">
					asd
					</div> </div>
				<div>Institutional </div>
				<div>MOCA </div>
				<div>Streaming </div>
				<div><div class="radius">
					asd
					</div> </div>
				<div>Studio Proj </div>
				<div>Public Access </div>
				<div>Website </div>
				<div><div class="radius">
					asd
					</div> </div>
				<div>Musician </div>
				<div>Kelela </div>
				<div>Interactive Microsite </div>
				<div><div class="radius">
					asd
					</div> </div>
					
				
				
			</div>
			<div class="center">
				
				<div class="top">
					Special, Offline
				</div>
				
				<div class="bottom">
					
					2014 Forever
				</div>
			</div>
			
			

				
			<div class="right">
				<div class="nav">
					<span>○Information</span><span>○Team</span><span>●Press</span>
			    
				</div>
				<div><h1>Art News</h1>
				<h4>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</h4>
				<h4>bbbbbbbbbbbbbbbbb
				</h4></div>
					<div><h1>Art News</h1>
				<h4>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</h4>
				<h4>bbbbbbbbbbbbbbbbb
				</h4></div>
					<div><h1>Art News</h1>
				<h4>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</h4>
				<h4>bbbbbbbbbbbbbbbbb
				</h4></div>
					<div><h1>Art News</h1>
				<h4>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</h4>
				<h4>bbbbbbbbbbbbbbbbb
				</h4></div>
					<div><h1>Art News</h1>
				<h4>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</h4>
				<h4>bbbbbbbbbbbbbbbbb
				</h4></div>
					<div><h1>Art News</h1>
				<h4>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</h4>
				<h4>bbbbbbbbbbbbbbbbb
				</h4></div>
					<div><h1>Art News</h1>
				<h4>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</h4>
				<h4>bbbbbbbbbbbbbbbbb
				</h4></div>
					<div><h1>Art News</h1>
				<h4>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</h4>
				<h4>bbbbbbbbbbbbbbbbb
				</h4></div>
					<div><h1>Art News</h1>
				<h4>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</h4>
				<h4>bbbbbbbbbbbbbbbbb
				</h4></div>
					<div><h1>Art News</h1>
				<h4>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</h4>
				<h4>bbbbbbbbbbbbbbbbb
				</h4></div>
					<div><h1>Art News</h1>
				<h4>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</h4>
				<h4>bbbbbbbbbbbbbbbbb
				</h4></div>
					<div><h1>Art News</h1>
				<h4>aaaaaaaaaaaaaaaaaaaaaaaaaaaa</h4>
				<h4>bbbbbbbbbbbbbbbbb
				</h4></div>
			</div>
		</main>
  
  </body>
</html>