<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/dist/css/styles.css" />
        <link rel="stylesheet" href="/dist/css/reset.css" />
    </head>
    <body>
       <header>
      <nav>
        <ul>
          <li>Year: All<span class="triangle">▼</span></li>
          <li>Program: All<span class="triangle">▼</span></li>
          <li>Themas: All<span class="triangle">▼</span></li>
          <li>Practic: All<span class="triangle">▼</span></li>
		  <li>Students<span class="triangle">▼</span></li>
        </ul>
      </nav>
    </header>
    <main>
      
      
      <section class="arrivals">
        <div class="wrapper">
          <article class="product">
			  <span class="upper_left">upper_left</span>
              <span class="upper_right">upper_right</span>
			  <span class="bottom_left">bottom_left</span>
			  <span class="bottom_right">bottom_right</span>
            <div class="product__photo"></div>
              
            
          </article>
          <article class="product">
			  <span class="upper_left">upper_left</span>
              <span class="upper_right">upper_right</span>
			  <span class="bottom_left">bottom_left</span>
			  <span class="bottom_right">bottom_right</span>
            <div class="product__photo"></div>
            
          </article>
          <article class="product">
			  <span class="upper_left">upper_left</span>
              <span class="upper_right">upper_right</span>
			  <span class="bottom_left">bottom_left</span>
			  <span class="bottom_right">bottom_right</span>
            <div class="product__photo"></div>
            
          </article>
          <article class="product">
			  <span class="upper_left">upper_left</span>
              <span class="upper_right">upper_right</span>
			  <span class="bottom_left">bottom_left</span>
			  <span class="bottom_right">bottom_right</span>
            <div class="product__photo"></div>
            <div class="product__data">
            </div>
          </article>
			<article class="product">
			  <span class="upper_left">upper_left</span>
              <span class="upper_right">upper_right</span>
			  <span class="bottom_left">bottom_left</span>
			  <span class="bottom_right">bottom_right</span>
            <div class="product__photo"></div>
            <div class="product__data">
            </div>
          </article>
			<article class="product">
			  <span class="upper_left">upper_left</span>
              <span class="upper_right">upper_right</span>
			  <span class="bottom_left">bottom_left</span>
			  <span class="bottom_right">bottom_right</span>
            <div class="product__photo"></div>
            <div class="product__data">
            </div>
          </article>
			<article class="product">
			  <span class="upper_left">upper_left</span>
              <span class="upper_right">upper_right</span>
			  <span class="bottom_left">bottom_left</span>
			  <span class="bottom_right">bottom_right</span>
            <div class="product__photo"></div>
            <div class="product__data">
            </div>
          </article>
			<article class="product">
			  <span class="upper_left">upper_left</span>
              <span class="upper_right">upper_right</span>
			  <span class="bottom_left">bottom_left</span>
			  <span class="bottom_right">bottom_right</span>
            <div class="product__photo"></div>
            <div class="product__data">
            </div>
          </article>
			<article class="product">
			  <span class="upper_left">upper_left</span>
              <span class="upper_right">upper_right</span>
			  <span class="bottom_left">bottom_left</span>
			  <span class="bottom_right">bottom_right</span>
            <div class="product__photo"></div>
            <div class="product__data">
            </div>
          </article>
        </div>
      </section>
    </main>
  
  </body>
</html>