<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/dist/css/styles.css" />
        <link rel="stylesheet" href="/dist/css/reset.css" />
    </head>
    <body>
     	
			<div class="left">
				<h4>
					ABC12
				</h4>
				<h1>
					 aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
				</h1>
				<ul>
					<li>Home</li>
					<li>Service</li>
					<li>Spaces</li>
					<li>Team</li>
					<li>Advice</li>
					<li>FAQ</li>
				</ul>
				<div class="third">
					<h4>
					010 3364 5948
				</h4>
				<h4>
					sangchane87@gmail.com
				</h4>
				</div>
				<div class="address">
					<h1>
					010 3364 5948
					</h1>
					<h4>sangchane87@gmail.com</h4>
					<h4>sangchane87@gmail.com</h4>
					<h1>
						010 3364 5948
					</h1>
					<h4>sangchane87@gmail.com</h4>
					<h4>sangchane87@gmail.com</h4>
				</div>
				<h4>
					EN | KOR
				</h4>
				
			</div>
			<div class="center__left">
				<h4>ABC12</h4>
				<ul>
					<li>Think</li>
					<li>Inside the</li>
					<li>Square.</li>
				</ul>
				<span>(a) He said to me, "May you live to be a hundred!" (b) He exclaimed his wish that I might live to be a hundred.</span>
				<span>(a) He said to me, "May you live to be a hundred!" (b) He exclaimed his wish that I might live to be a hundred.</span>
				<div class="box">
					<h4>
					010 3364 5948
					</h4>
					<ul>
					<li>Think</li>
					<li>Inside the</li>
				</ul>
				</div>
			</div>
			<div class="center__right">
				<div class="top">
					<div class="top__left">
						
					</div>
					<div class="top__right">
						
					</div>
					<div class="bottom__right">
						<div class="one">
							
						</div>
						<div class="two">
							
						</div>
						<div class="three">
							
						</div>
						<div class="four">
							
						</div>
						<div class="five">
							
						</div>
						
					</div>
				</div>
				<div class="bottom">
					<div class="footer__left">
						<div class="left__image">
							
						</div>
						<div class="top__one">
							
						</div>
						<div class="bottom__one">
							
						</div>
					</div>
					<div class="footer__right">
						
					</div>
				</div>
			</div>
		
  
  </body>
</html>