<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	  <link rel='stylesheet' href='/dist/css/styles.css' />
	  <link rel='stylesheet' href='/dist/css/reset.css' />
  </head>
  <body>
	 
		
	<div class="grid">
		<div class="header">
			ㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱ
		</div>
		<div class="leftTopContent" STYLE="writing-mode: tb-rl">
			가나다라마바사 아차파카마파하
		</div>
		<div class="lImage">
			<div class="content">
				CU<br>
			CURRY<br>
			CAFE
				
			</div>
			
		</div>
		<div class="rImage">
			
		</div>
		<div class="rightTopContent" STYLE="writing-mode: tb-rl">
			가나다라 아차파망란얃자랑ㄴ
		</div>
		<div class="leftBottomContent" STYLE="writing-mode: lr-tb">
			가나
		</div>
		<div class="rightBottomContent" STYLE="writing-mode: tb-rl">
			가나다라 아
		</div>
		<div class="icon">
			
		</div>
		<div class="footer">
			ㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱㄱ
		</div>
		
	</div>
  </body>
</html>
