<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	  <link rel='stylesheet' href='/dist/css/styles.css' />
	  <link rel='stylesheet' href='/dist/css/reset.css' />
  </head>
  <body>
    <div class="grid">
		<div class="header">
			<sapn>OOO</sapn>
		</div>
		<div class="black">
			<ul>
				<li>CHANGES</li>
				<li>CHANGES</li>
				<li>CHANGES</li>
				<li>CHANGES</li>
				<li>JULY 4-5</li>
			</ul>
		</div>
		<div class="purple">
			
		</div>
		<div class="red">
			<ul>
				<li>ABOUT</li>
				<li>CONTACT</li>
				<li>VENUES</li>
				<li>FAQ</li>
				<li>PARTNERS</li>
			</ul>
		</div>
		<div class="mWhite">
			
		</div>
		<div class="yellow">
			TICKETS
		</div>
		<div class="lWhite">
			<ul>
				<li>ABOUT</li>
				<li>CONTACT</li>
				<li>VENUES</li>
				<li>FAQ</li>
				<li>PARTNERS</li>
				<li>ABOUT</li>
				<li>CONTACT</li>
				<li>VENUES</li>
				<li>FAQ</li>
				<li>PARTNERS</li>
				<li>ABOUT</li>
				<li>CONTACT</li>
				<li>VENUES</li>
				<li>FAQ</li>
				<li>PARTNERS</li>
				<li>ABOUT</li>
				<li>CONTACT</li>
				<li>VENUES</li>
				<li>FAQ</li>
				<li>PARTNERS</li>
				<li>ABOUT</li>
				<li>CONTACT</li>
				<li>VENUES</li>
				<li>FAQ</li>
				<li>PARTNERS</li>
				<li>ABOUT</li>
				<li>CONTACT</li>
			</ul>
		</div>
		<div class="rWhite">
			<ul>
				<li>ABOUT</li>
				<li>CONTACT</li>
				<li>VENUES</li>
				<li>FAQ</li>
				<li>PARTNERS</li>
				<li>ABOUT</li>
				<li>CONTACT</li>
				<li>VENUES</li>
				<li>FAQ</li>
				<li>PARTNERS</li>
				<li>ABOUT</li>
				<li>CONTACT</li>
				<li>VENUES</li>
				<li>FAQ</li>
				<li>PARTNERS</li>
				<li>ABOUT</li>
				<li>CONTACT</li>
				<li>VENUES</li>
				<li>FAQ</li>
				<li>PARTNERS</li>
				<li>ABOUT</li>
				<li>CONTACT</li>
				<li>VENUES</li>
				<li>FAQ</li>
				<li>PARTNERS</li>
				<li>ABOUT</li>
				<li>CONTACT</li>
			</ul>
		</div>
    </div>
  </body>
</html>
